---
title: Webアプリ入門セミナー in 横手
---

#wrapper
  %h1 Webアプリ入門セミナー
  %h2 URL集
  %h3 自己紹介
  %ul
    %li= link_to "合同会社フィヨルド", "http://fjord.jp",{:target => "_blank"}
    %li= link_to "Twitter(@machida)", "https://twitter.com/machida",{:target => "_blank"}
    %li= link_to "町田のFacebook", "https://www.facebook.com/teppeimachida",{:target => "_blank"}

  %h3 やってる仕事
  %ul
    %li= link_to "メガネ通販サイト Oh My Glasses", "http://www.ohmyglasses.jp/",{:target => "_blank"}
    %li= link_to "NEXLINK basic", "http://www.nexway.co.jp/promotion/nexlinkbasic/",{:target => "_blank"}
    %li= link_to "ソニックガーデン", "http://www.sonicgarden.jp/",{:target => "_blank"}
    %li= link_to "大企業向け社内SNS SKIP", "http://www.skip-sns.jp/",{:target => "_blank"}
    %li= link_to "コミュニケーションツール youRoom", "http://ja.youroom.in/",{:target => "_blank"}
    %li= link_to "世界最大の怖い話サイト（おすすめ！）", "http://kowabana.jp",{:target => "_blank"}

  %h3 では、書籍一覧に現実世界の模倣を取り入れてみよう
  %ul
    %li= link_to "app/views/books/index.html.erb にコピー & 貼り付けする", "https://gist.github.com/machida/7496607",{:target => "_blank"}
    %li= link_to "app/assets/stylesheets/books.css.scss にコピー & 貼り付けする", "https://gist.github.com/machida/7496627",{:target => "_blank"}

  %h3 ボタンをグラデーションに
  %ul
    %li= link_to "Ultimate CSS Gradient Generator", "http://www.colorzilla.com/gradient-editor/",{:target => "_blank"}

  %h3 ボタンのグラデーションを戻す
  %ul
    %li= link_to "ボタンのグラデーションにコピー & 貼り付け", "https://gist.github.com/machida/7497042",{:target => "_blank"}

  %h3 Hue360を使って色を選んでみる
  %ul
    %li= link_to "HUE/360", "http://hue360.herokuapp.com/",{:target => "_blank"}

  %h3 背景にテクスチャを入れてみよう
  %ul
    %li= link_to "SubtlePatterns Bookmarklet", "javascript:(function()%7Bvar newscript%3Ddocument.createElement(%27script%27)%3Bnewscript.type%3D%27text/javascript%27%3Bnewscript.async%3Dtrue%3Bnewscript.src%3D%27https://d2ueh8f0j2xol3.cloudfront.net/subtle-patterns-bookmarklet/static/js/all.js%3Fcb%3D%27 %2B Math.random()%3B(document.getElementsByTagName(%27head%27)%5B0%5D%7C%7Cdocument.getElementsByTagName(%27body%27)%5B0%5D).appendChild(newscript)%3B%7D)()%3B"

  %h3 ロゴを格好良くしよう
  %ul
    %li= link_to "Google fonts", "http://www.google.com/fonts",{:target => "_blank"}
